@model Authentication.Models.InboundOrder
@{
    Layout = null;
    ViewData["Title"] = "Create";
}
<script>
    $('#dtExpectDate').val('MM/DD/YYYY');

    function GenerateOrderNum() {
        if ($('#ipOrderNo').is('[readonly]')) {
            $('#ipOrderNo').val('');
            $('#ipOrderNo').prop("readonly", false);
        }
        else {
            $.ajax({
                url: '/InboundOrders/getOrderNumber',
                success: function (result) {
                    $('#ipOrderNo').val(result);
                    $('#ipOrderNo').prop("readonly", true);
                    $('#order-no').text('');
                }
            });
        }
        
    }

    function clearForm() {
        $('#ipOrderNo').val('');
        $('#ipOrderNo').prop("readonly", false);
        $('#ddlOrderType').val(null);
        $('#ddlCustomer').val(null);
        $('#ddlSupplier').val(null);
        $('#dtExpectDate').val('MM/DD/YYYY');
        $('#txtDescription').val('');
        $('#sOrderType').text('');
        $('#sCustomer').text('');
        $('#sSupplier').text('');
        $('#sExpectDate').text('');
    }
</script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<form id="create-inboundorder"
      asp-action="CreateInboundOrder"
      enctype="multipart/form-data"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#pop_up"
      data-ajax-complete="OnComplete"
      data-ajax-confirm="Do you want to Add?"
      data-ajax-failure="OnFailureRequest">
    <div class="modal create-popup-w90" aria-hidden="true">
        <div class="modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <span>@ViewBag.Title Data</span>
                    <button type="button" class="close btn-x-pop" data-dismiss="modal" aria-label="Close" onclick="OnCompleteRequest()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5><b>Inbound Order</b>: @ViewBag.Status</h5>
                    <hr />
                    <div class="row row-popup">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group form-group-popup">
                                <label asp-for="order_no" class="control-label"></label>
                                <input asp-for="order_no" id="ipOrderNo" class="primary form-control input-popup" style="display:inline; width: 195px" />
                                <button type="button" id="btGen" onclick="GenerateOrderNum()">Gen</button>
                                <span asp-validation-for="order_no" class="text-danger" id="order-no" style="display: block;"></span>
                            </div>
                            <div class="form-group form-group-popup">
                                <label asp-for="OrderTypeId" class="control-label"></label>
                                <select asp-for="OrderTypeId" id="ddlOrderType" class="form-control input-popup" asp-items="ViewBag.OrderTypeList">
                                </select>
                                <span asp-validation-for="OrderTypeId" class="text-danger" id="sOrderType"></span>
                            </div>
                            <div class="form-group form-group-popup">
                                <label asp-for="CustomerId" class="control-label"></label>
                                <select asp-for="CustomerId" id="ddlCustomer" class="form-control input-popup" asp-items="ViewBag.CustomerList">
                                </select>
                                <span asp-validation-for="CustomerId" class="text-danger" id="sCustomer"></span>
                            </div>
                            <div class="form-group form-group-popup">
                                <label asp-for="SupplierId" class="control-label"></label>
                                <select asp-for="SupplierId" id="ddlSupplier" class="form-control input-popup" asp-items="ViewBag.SupplierList">
                                </select>
                                <span asp-validation-for="SupplierId" class="text-danger" id="sSupplier"></span>
                            </div>
                            <div class="form-group form-group-popup">
                                <label asp-for="expect_date" class="control-label"></label>
                                <input asp-for="expect_date" class="form-control input-popup" type="date" id="dtExpectDate">
                                <span asp-validation-for="expect_date" class="text-danger" id="sExpectDate"></span>
                            </div>
                            <div class="form-group form-group-popup">
                                <label class="control-label">Description</label>
                                <input class="form-control input-popup" id="txtDescription" name="txtDescription">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-footer-pop btn-save-pop">Save</button>
                    <button type="button" class="btn btn-footer-pop btn-clear-pop" id="btClearTest" onclick="clearForm()">Clear</button>
                    <button type="button" class="btn btn-foote-popr btn-close-pop" data-dismiss="modal" onclick="OnCompleteRequest()">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
