@model IEnumerable<Authentication.Models.Location>
@{
    ViewData["Title"] = "Location";
    ViewBag.Model = Model;
}


<script type="text/javascript">
    var vCreateDate = "n";
    var vEditeDate = "n";

    function OnCompleteRequest() {
        $('#pop_up').empty();
        $('#pop_up').delay(1000).modal('hide');
    }

    function OnSuccessRequest() {
        alert('On Success');
    }

    function OnFailureRequest() {
        alert('On Failure');
    }

    function showHideSearch() {
        var blockSearch = document.getElementById('search-block');
        if (blockSearch.style.display != "none") {
            blockSearch.style.display = 'none';
            document.getElementById('btn-fiter').innerHTML = 'Show Filter';
        }
        else {
            blockSearch.style.display = null;
            document.getElementById('btn-fiter').innerHTML = 'Hide Filter';
        }
    }

    function Search() {
        $.ajax({
            url: '/Locations/ViewContent',
            data: {
                //These two keys should keep consistent with the parameters ( int? ProductId , int? ProductPrice ) in action, including uppercase and lowercase.
                locationcode: $('#txtLocationCode').val(),
                locationcategory: $('#ddlLocationCategory').val(),
                mixexpire: $('#ddlMixExpire').val(),
                mixitem: $('#ddlMixItem').val(),
                mixlot: $('#ddlMixLot').val(),
                createby: $('#txtCreateBy').val(),
                screatedate: vCreateDate,
                startcreatedate: $('#dtCreateDate').data('daterangepicker').startDate.format('MM/DD/YYYY'),
                endcreatedate: $('#dtCreateDate').data('daterangepicker').endDate.format('MM/DD/YYYY'),
                editby: $('#txtEditBy').val(),
                seditdate: vEditeDate,
                starteditdate: $('#dtEditDate').data('daterangepicker').startDate.format('MM/DD/YYYY'),
                endeditdate: $('#dtEditDate').data('daterangepicker').endDate.format('MM/DD/YYYY'),
            },
            success: function (result) {
                //let locationcode = $('#txtLocationCode').val();
                //let locationcategory = $('#ddlLocationCategory').val();
                //let mixexpire = $('#ddlMixExpire').val();
                //let mixitem = $('#ddlMixItem').val();
                //let createby = $('#txtCreateBy').val();
                //let startcreatedate = $('#dtCreateDate').data('daterangepicker').startDate.format('MM/DD/YYYY');
                //let endcreatedate = $('#dtCreateDate').data('daterangepicker').endDate.format('MM/DD/YYYY');
                //let editby = $('#txtEditBy').val();
                //let starteditdate = $('#dtEditDate').data('daterangepicker').startDate.format('MM/DD/YYYY');
                //let endeditdate = $('#dtEditDate').data('daterangepicker').endDate.format('MM/DD/YYYY');
                $('#childLayout').html(result);
                //$('#txtLocationCode').val(locationcode);
                //$('#ddlLocationCategory').val(locationcategory);
                //$('#ddlMixExpire').val(mixexpire);
                //$('#ddlMixItem').val(mixitem);
                //$('#txtCreateBy').val(createby);
                //if (vCreateDate === "y")
                //    $('#dtCreateDate').daterangepicker({ "startDate": String(startcreatedate), "endDate": String(endcreatedate) });
                //if (vEditeDate === "y")
                //    $('#dtEditDate').daterangepicker({ "startDate": String(starteditdate), "endDate": String(endeditdate) });
                //$('#txtEditBy').val(editby);
            }
        });
    }

    function clearSearch() {
        globalThis.vCreateDate = "n";
        globalThis.vEditeDate = "n";
        var f1 = document.getElementById('search-block');
        var arr_input = f1.getElementsByTagName('input');
        for (i = 0; i < arr_input.length; i++) {
            arr_input[i].value = '';
        }
        $.ajax({
            url: '/Locations/ViewContent',
            data: {
                clear: 'clear'
            },
            success: function (result) {
                $('#childLayout').html(result);
            }
        });
    }

    $(document).ready(function () {
        $('#dtCreateDate').daterangepicker({
            showDropdowns: true,
            "startDate": moment(),
            "endDate": moment(),
            minDate: '01/01/2021',
            dateLimit: { days: 365 },
            maxDate: moment(),
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });

        $('#dtCreateDate').on('apply.daterangepicker', function (ev, picker) {
            globalThis.vCreateDate = "y";
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

        $('#dtCreateDate').on('cancel.daterangepicker', function (ev, picker) {
            globalThis.vCreateDate = "n";
            $(this).val('');
        });

        $('#dtEditDate').daterangepicker({
            showDropdowns: true,
            "startDate": moment(),
            "endDate": moment(),
            minDate: '01/01/2021',
            dateLimit: { days: 365 },
            maxDate: moment(),
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });

        $('#dtEditDate').on('apply.daterangepicker', function (ev, picker) {
            globalThis.vEditeDate = "y";
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

        $('#dtEditDate').on('cancel.daterangepicker', function (ev, picker) {
            globalThis.vEditeDate = "n";
            $(this).val('');
        });

        // Add Location
        $(document).on("click", "#btNew", function () {
            $.ajax({
                type: "GET",
                data: "{}",
                url: $(this).data('url'),
                success: function (result) {
                    $('#pop_up').html(result);
                    $('#pop_up').modal('show');
                },
                error: function (result) {
                    console.log("error");
                    alert('error');
                }
            });
            return false;
        });

        // Edit Location
        $(document).on("click", "#ViewData table tbody tr td #edit-location", function () {
            $.ajax({
                type: "GET",
                data: "{}",
                url: $(this).attr('href'),
                success: function (result) {
                    $('#pop_up').html(result);
                    $('#pop_up').modal('show');
                },
                error: function (result) {
                    alert('error');
                }
            });
            return false;
        });

        // Detail Location
        $(document).on("click", "#ViewData table tbody tr td #detail-location", function () {
            $.ajax({
                type: "GET",
                data: "{}",
                url: $(this).attr('href'),
                success: function (result) {
                    $('#pop_up').html(result);
                    $('#pop_up').modal('show');
                },
                error: function (result) {
                    alert('error');
                }
            });
            return false;
        });

        // Delete Location
        $(document).on("click", "#ViewData table tbody tr td #delete-location", function () {
            $.ajax({
                type: "GET",
                data: "{}",
                url: $(this).attr('href'),
                success: function (result) {
                    $('#pop_up').html(result);
                    $('#pop_up').modal('show');
                },
                error: function (result) {
                    alert('error');
                }
            });
            return false;
        });

        // Set Per Page Number
        $(document).on("click","#tool-panel div div div div a",function () {
            var PerPage = $(this).attr('rel');
            $('#btn-perpage').text($(this).text());
            $.ajax({
                type: "GET",
                data: { "PerPage": PerPage } ,
                url: '@Url.Action("SetPerPage")',
                success: function (result) {
                    $('#childLayout').html(result);
                },
                error: function (result) {
                    alert('error');
                }
            });
        });

        //Set Page Number
        $(document).ready(function () {
            $(document).on("click","a.page-number",function () {
                var PageNo = $(this).text();
                $.ajax({
                    type: "GET",
                    data: { "PageNo": PageNo } ,
                    url: '@Url.Action("SetPageNo")',
                    success: function (result) {
                        $('#childLayout').html(result);
                    },
                    error: function (result) {
                        alert('error');
                    }
                });
            });
        });
    });

</script>
<div id="sub-container">
    <div class="pt-3 pb-5" id="childLayout">
        <fieldset>
            <legend>
                <span class="font-weight-bold" style="font-size: 16px;">Search / View Data</span>
            </legend>
        </fieldset>
        <hr class="mt-0 mb-1" style="border-top: 2px solid #bbb;" />
        <div id="tool-panel" class="border" style="width: 100%; white-space: nowrap;">
            <partial name="_Btn_Group" />
        </div>
        <div id="search-block" class="border py-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;">
            <div class="container-fluid p-2">
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                        <form class="form-inline frm-float-right" id="frm_txtOrderType" style="z-index: 10000 !important;">
                            <div class="form-group div-frm-group-search">
                                <label class="mx-3" for="txtLocationCode"><b>Location Code</b></label>
                                <input class="form-control txt-search-width-non" id="txtLocationCode" />
                            </div>
                        </form>
                        <form class="form-inline frm-float-right">
                            <div class="form-group div-frm-group-search">
                                <label class="mx-3" for="ddlLocationCategory"><b>Location Category</b></label>
                                <select id="ddlLocationCategory" class="form-control txt-search-width-non" asp-items="ViewBag.LocationCategoryList" style="padding-left: 20px;">
                                </select>
                            </div>
                        </form>
                        <form class="form-inline frm-float-right">
                            <div class="form-group div-frm-group-search">
                                <label class="mx-3" for="ddlMixExpire"><b>Mix Expire</b></label>
                                <select id="ddlMixExpire" class="form-control txt-search-width-non" style="padding-left: 20px;">
                                    <option>Select</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <form class="form-inline frm-float-right">
                            <div class="form-group div-frm-group-search">
                                <label class="mx-3" for="ddlMixItem"><b>Mix Item</b></label>
                                <select id="ddlMixItem" class="form-control txt-search-width-non" style="padding-left: 20px;">
                                    <option>Select</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </form>
                        <form class="form-inline frm-float-right">
                            <div class="form-group div-frm-group-search">
                                <label class="mx-3" for="ddlMixLot"><b>Mix Lot</b></label>
                                <select id="ddlMixLot" class="form-control txt-search-width-non" style="padding-left: 20px;">
                                    <option>Select</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </form>
                        <form class="form-inline frm-float-right">
                            <div class="form-group div-frm-group-search">
                                <label class="mx-3" for="txtCreateBy"><b>Create By</b></label>
                                <input class="form-control txt-search-width-non" id="txtCreateBy" />
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <form class="form-inline frm-float-right">
                            <div class="form-group div-frm-group-search">
                                <label class="mx-3" for="dtCreateDate"><b>Create Date</b></label>
                                <input id="dtCreateDate" name="dtCreateDate" type='text' class="form-control text-left txt-search-width-non dt-font" style="padding-right:2.5rem;" placeholder="mm/dd/yyyy-mm/dd/yyyy" />
                                <div class="arrow-datetime" onclick="$('#dtCreateDate').data('daterangepicker').toggle();">
                                    <i class="far fa-calendar-alt"></i>
                                </div>
                            </div>
                        </form>
                        <form class="form-inline frm-float-right">
                            <div class="form-group div-frm-group-search">
                                <label class="mx-3" for="txtEditBy"><b>Edit By</b></label>
                                <input class="form-control txt-search-width-non" id="txtEditBy" />
                            </div>
                        </form>
                        <form class="form-inline frm-float-right">
                            <div class="form-group div-frm-group-search">
                                <label class="mx-3" for="dtEditDate"><b>Edit Date</b></label>
                                <input id="dtEditDate" name="dtEditDate" type='text' class="form-control text-left txt-search-width-non dt-font" style="padding-right:2.5rem;" placeholder="mm/dd/yyyy-mm/dd/yyyy" />
                                <div class="arrow-datetime" onclick="$('#dtEditDate').data('daterangepicker').toggle();">
                                    <i class="far fa-calendar-alt"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mr-3 mt-2" align="right">
                <button class="btn bg-new-search btn-search-clear btn-search" id="btnSearch" onclick="Search()">Search</button>
                <button class="btn btn-search-clear btn-clear" style="border: 1px solid #ced4da" onclick="clearSearch()">Clear</button>
            </div>
        </div>
        <partial name="_ViewData" />
    </div>
</div>