@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

@*<h1>@ViewData["Title"]</h1>
    <h4>Reset your password.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />
                <input asp-for="Input.Username" type="hidden" />
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>*@

<div class="container-fluid bg-image" style="background-image: url('/images/background/reset_password.png'); height: 100vh; width: 100%; padding: 0 !important; margin: 0 !important; box-sizing: 0 !important; background-size: 100% 100% ">
    <div class="container-fluid" style="margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;">
        <h1 class="setfont" style="font-size: 2.5em; color: black; text-align: center; font-weight: 700; padding-top: 50px;">Reset Password</h1>
        <div class="elelment-main" style="width: 30%; background: #fff; margin: 4em auto 0em; border-radius: 5px; padding: 3em 2em;">

            <img class="rounded mx-auto d-block" alt="Responsive image" src="~/images/background/icon_reset_password.png" style="height: 10%; width: 15%; padding-top: 0px; padding-bottom: 30px;" />

            <h1 class="setfont" style="text-align:center; padding-bottom: 30px; font-size: 2em;">Reset Your Password</h1>
            @*<p style="text-align:center; font-family: 'Poppins'"> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.</p>*@
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger setfont"></div>
                <input asp-for="Input.Code" type="hidden" />
                <input asp-for="Input.Username" type="hidden" />
                <div class="form-group setfont">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group setfont">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="text-center setfont">
                    <button type="submit" class="btn btn-primary" style="text-align:center;">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
