@model Authentication.Models.UsersViewModel

@{
    Layout = null;
    ViewData["Title"] = "Reset Password";
}

<form id="resetpassword-popup"
      asp-action="ResetPassword"
      enctype="multipart/form-data"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#childLayout"
      data-ajax-complete="OnCompleteRequest"
      data-ajax-confirm="Do you want to Confirm?"
      data-ajax-failure="OnFailureRequest">
    <div class="modal create-popup" aria-hidden="true">
        <div class="modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <span>@ViewBag.Title</span>
                    <button type="button" class="close btn-x-pop" data-dismiss="modal" aria-label="Close" onclick="OnCompleteRequest()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row row-popup">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="Email" />
                            <input type="hidden" asp-for="EmailConfirmed" />
                            <input type="hidden" asp-for="PhoneNumberConfirmed" />
                            <input type="hidden" asp-for="TwoFactorEnabled" />
                            <input type="hidden" asp-for="LockoutEnabled" />
                            <input type="hidden" asp-for="AccessFailedCount" />
                            <input type="hidden" asp-for="Role" />
                            <h4>Do you want to reset password for username: @Model.Username ?</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-footer-pop btn-save-pop">Ok</button>
                    <button type="button" class="btn btn-foote-popr btn-close-pop" data-dismiss="modal" onclick="OnCompleteRequest()">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
