@{
    Layout = null;
    ViewData["Title"] = "Edit";
}

<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" style="padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; color: #3a94d0; border-color: #7ebfe9; border-bottom-color: #ffffff;">Resource</a>
        </li>
    </ul>
</div>
<div id="tool-panel" class="border" style="width: 100%; white-space: nowrap; margin-top: 20px; background-color: #f2f5f7;">
    <partial name="_Btn_Group_Resource" />
</div>
<partial name="_ViewData" />